<header>
  <div class="logo-container">
    <a href="/inicio"> <!-- Cambia routerLink a href -->
      <img src="assets/img/logotipomoto.png" alt="Logo MotoVelazquez" class="logo">
    </a>
    <nav>
      <a href="/inicio">Inicio</a> <!-- Cambia routerLink a href -->
      <a href="/motos">Motos</a> <!-- Cambia routerLink a href -->
      <a href="/accesorios">Accesorios</a> <!-- Cambia routerLink a href -->
      <a href="/ropa">Ropa</a> <!-- Cambia routerLink a href -->
      <a href="/contacto">Contacto</a> <!-- Cambia routerLink a href -->
    </nav>
    <div class="cart">
      <a href="#">
        <img src="https://cdn-icons-png.flaticon.com/128/3550/3550640.png" alt="Carrito" class="cart-icon">
      </a>
    </div>
  </div>
</header>





  
  